:root {
    --color1: #eeebd3;
    --color2: #b3b0a2;
    --color3: #F4F1E1;
    --color4: #1a1d20;
}
html {
    height: 100%;
}
body {
    font-family: "Boska-Medium";
    color: var(--color1);
}
/* -------------------------------------------------- */
/* BODY's */
/* -------------------------------------------------- */
.landing {
    background-image: url(../imgs/backgrounds/landing.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.explorar {
    background-image: url(../imgs/backgrounds/explorar.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200vh;
}
.contacto {
    background-image: url(../imgs/backgrounds/contacto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nosotros {
    background-image: url(../imgs/backgrounds/nosotros.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200vh;
}
.login {
    background-image: url(../imgs/backgrounds/login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200vh;
}
/* -------------------------------------------------- */
/* LANDING */
/* -------------------------------------------------- */
/* NAV */
#landingExplorarBtn {
    font-family: Boska-Bold;
    text-transform: uppercase;
    color: var(--color1);
    border: 2px solid var(--color1);
    &:hover {
        color: var(--color4);
        background-color: var(--color1);
    }
}
/* -------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------- */
/* NAV BAR */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color1);
}
.nav-link {
    color: var(--color2);
    &:hover {
        color: var(--color3);
    }
}
.active {
    text-decoration: underline;
}
/* SEARCHING BAR */
.searchBar {
    background-color: var(--color4);
    color: var(--color1);
    font-family: "Boska-Bold";
    &::placeholder {
        color: var(--color2);
    }
}
.searchBarBtn {
    background-color: var(--color1);
    color: var(--color4);
    &:hover {
        background-color: var(--color4);
        color: var(--color1);
    }
}
/* -------------------------------------------------- */
/* NOSOTROS */
/* -------------------------------------------------- */
#nosotrosSectionDiv {
    background-color: #1a1d2070;
    & p {
        text-indent: 3em;
        text-align: justify;
    }
}
#nosotrosGaleriaDiv {
    background-color: #1a1d20;
    width: 90%;
    padding: 1%;
    margin-bottom: 20px;
}
/* -------------------------------------------------- */
/* CONTACTO */
/* -------------------------------------------------- */
#contactoFormDiv {
    background-color: #1a1d2070;
    font-size: 1.2em;
    width: 90%;
    padding: 1%;
    margin: 20px auto;
}
#contactoFormBtn {
    background-color: var(--color4);
    font-family: Boska-Black;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--color1);
    letter-spacing: 2px;
    padding: 1% 3%;
    border: none;
}